<header class="site-header">
  <div class="max-w-[1400px] mx-auto flex items-center h-full px-10 justify-between">
    <div class="flex items-center gap-10">
      <a href="/" class="flex items-center">
        <img src="/logo.svg" class="h-20 w-auto" alt="BONGDAHA" />
      </a>

      <nav id="main-nav" class="flex gap-6 text-xs font-bold uppercase tracking-widest">
        <a href="/" class="text-gray-500 hover:text-white transition-colors">Football</a>
      </nav>
    </div>

<div class="flex items-center gap-6">
  <div id="clock" class="text-gray-500 font-mono text-xs"></div>
  <div class="h-4 w-[1px] bg-gray-800"></div>

  <i class="fa-solid fa-magnifying-glass text-lg cursor-pointer text-gray-500 hover:text-white transition"></i>
  <i class="fa-solid fa-user text-lg cursor-pointer text-gray-500 hover:text-white transition"></i>
</div>

  </div>
</header>
